

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: darkslategray ; */
  /* background: linear-gradient(0deg, rgba(162, 233, 233, 0.996), rgb(214, 242, 252)); */
   /* min-height: 100vh; */
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: green; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  border: 1px solid black;
  box-shadow: 0px 0px 15px gray;
}

.home-cont {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: .5rem;
  margin: .5rem 0;
  padding: 1rem  0  0 0;
  /* justify-content: space-evenly; */
  align-items: center;
  background-color: rgb(194, 234, 94);
  border-radius: 5px;
}

input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 1.5rem;
/* padding: 0.25rem; */
border-radius: 0.5rem;
width: 20rem;

} 


.pop {
  margin: 1rem auto;
  color: white;
  width: 10rem;
  padding: .5rem;
  border-radius: 5px;
  border-color: dodgerblue;
  background-color: dodgerblue;
}
#create-inventory {
  text-align: center;
  margin: 1rem 0;
}

#transItem {
  text-align: center;
}
#create-item-heading{
  margin: 1rem auto;;
  text-align: center;
  width: 50vw;
}

button {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
padding: 0.5rem;
width: 10rem;
box-shadow: 0.2em 0.3em 0.4em gray;
}

.grand-total {
  text-align: center;
  margin: 1rem auto;
}


#trans-title {
  /* justify-content: center; */
  text-align: center;
  color: red;
}

button:active {
  box-shadow: 0em 0em 0em gray;
  transition-property: box-shadow scale;
  transform: scale(0.95, 0.95);
  box-shadow: 0em 0e 0em;
  transition-duration: 0.1s;
}


.header  {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66d8f5;
}

.footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
  /* overflow-y: auto; */
  /* background-color: #66d8f5; */
}

input {
  width: 20vw;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0 auto;
  /* height: 6vh; */
  text-align: center;
}

#field {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: .5rem;
  /* background-color: blue; */
} 

#reg-cont {
  /* text-align: center; */
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  0 auto;
  width: 60vw;
  max-width: 420px;
  min-height: 400px;
  border-radius: 5px;
  padding: 1rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

#username {
  font-size: 2rem;
}
#password {
  font-size: 2rem;

}

label {
  font-weight: bold;
}

#trans-item-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: .5rem;

}

table {
  border: 1px solid brown;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
  /* font-size: 3rem; */
  width: 80vw;
}
td, th  {
  border: 1px solid brown;
  padding: 5px 10px;
}


#trans-item {

  display: flex;
/* height: 35vh; */
border-radius: 5px;
  flex-direction: row;
  /* column-gap: 2rem; */
  /* row-gap: 6rem; */
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: lightseagreen; */
  background-color: lightskyblue;
  /* background-color: red; */
  font-size: 1.2rem;
  padding: 1rem;
  width: 97%  
}


.item-list {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

 .success {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

 .reg-cont{
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

  .creat-item {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
  }

  .create-inventory{
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
  }

   .sale {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* row-gap: -20rem; */

  } 
  #ulu {text-align: center;}

  #tans-search {
    background-color: red;
    width: 50%;
  }
  /* #tans-search {
    background-color: red;
    width: 20%;
  } */

  /* @media screen and (min-width: 451px) {
  } */

  #flex-article {
    /* color: lightcyan; */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: .5rem;
      /* flex-wrap: wrap; */
      /* width: 5rem; */
  }

  #invent-header {
    text-align: center;
    margin: 1rem auto;
  }
@media screen and (max-width: 450px) {

 .home {
  flex-direction: column;
  background-color: none;
}

#done-button {
  width: 6rem;
}

.grand-total{
  /* margin: 0 auto; */
}

#trans-search {
  width:60%;
}

#field {
  width: 98%;
  /* justify-content: space-between; */
}

#trans-item {
  width: 95%;
  /* background-color: red; */
column-gap: 2rem;
row-gap: 2rem;
  align-items: center;
  /* column-gap: .5rem; */
  /* row-gap: 6rem; */
}
}